/* FONTS ====================== */
@font-face {
  font-family: 'Favorit';
  src: url("../webfonts/Favorit_Regular.ttf") format("TrueType");
}

@font-face {
  font-family: 'Violet';
  src: url("../webfonts/VioletSans-Regular.otf") format("OpenType");
}
/* MAIN STYLES ====================== */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  background-color: white;
  overflow: hidden;
  position: relative;
}

h1 {
  font-size: 8.5vw;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  width: 100vw;
  padding: 0;
  margin: 0;
  line-height: 0.4;
}

h2 {
  font-size: 8.2vw;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  width: 100vw;
  background: linear-gradient(140.74deg, #76E650 -1.13%, #F9D649 15.22%, #F08E35 32.09%, #EC5157 48.96%, #FF18BD 67.94%, #1A4BFF 85.34%, #62D8F9 99.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: rotate(-180deg);
  padding: 0;
  margin: 0;
}

p {
  font-size: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  transition: none;
  will-change: transform;
  mix-blend-mode: difference;
}

/* * {
  box-sizing: border-box; }

body {
  background-color: black;
  color: white;
  font-family: 'Favorit', sans-serif;
  font-weight: 400 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: flex; }

body::-webkit-scrollbar {
  display: none; }

.left, .right {
  width: 50%;
  height: 100%;
  display: inline-block;
  margin: 0; }

.right {
  background-image: url("../assets/holo.jpg");
  background-size: cover;
  background-position: left; }

h1, h2, h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 22px;
  margin: 0; }
  h1 span, h2 span, h3 span {
    display: block;
    opacity: 0.4; }

a {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 22px;
  display: inline-block;
  text-decoration: none;
  color: white;
  opacity: 0.4;
  transition: 0.2s; }

a:hover {
  opacity: 1; }

.l-t {
  position: fixed;
  top: 80px;
  left: 80px; }

.l-m {
  position: fixed;
  top: 50%;
  left: 80px;
  transform: translateY(-50%); }

.l-b {
  position: fixed;
  bottom: 80px;
  left: 80px; }

.r-t {
  position: fixed;
  top: 80px;
  right: 80px;
  opacity: 0.8; }

.r-b {
  position: fixed;
  right: 80px;
  bottom: 80px;
  opacity: 0.8; }

@media (max-width: 680px) {
  body {
    flex-direction: column; }

  .left, .right {
    width: 100% !important;
    height: 50% !important; }

  .l-t {
    text-align: center;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    font-size: 16px; }
    .l-t a {
      font-size: 16px; }

  .center {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px;
    width: 80%; }
    .center .l-m, .center .l-b {
      position: static;
      width: 100%; }
    .center .l-b {
      font-size: 16px; }
    .center a {
      opacity: 1; }

  .r-t {
    bottom: 40px;
    left: 40px;
    top: auto !important;
    right: auto !important;
    font-size: 16px; }

  .r-b {
    font-size: 16px;
    right: 40px;
    bottom: 40px; } } */

/*# sourceMappingURL=style.css.map */
