@font-face {
  font-family: 'Favorit';
  src: url('../webfonts/Favorit_Regular.ttf') format('TrueType');
}

@font-face {
  font-family: 'Violet';
  src: url('../webfonts/VioletSans-Regular.otf') format('OpenType');
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  background-color: white;
  overflow: hidden;
  position: relative;
  user-select: none;
  margin: 0;
}

.home {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.home p {
  font-size: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  color: white;
}

.home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  transition: none;
  will-change: transform;
  mix-blend-mode: difference;
}
